<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        footer {
            background-color:  #0C2D57; 
            color: white; 
            padding: 10px;
            text-align: center; 
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%; 
        }
    </style>
</head>
<body>
    <footer>
        <span>TODOS LOS DERECHOS PARA @Irving Zuriel Quintero Herrera</span>
    </footer>
</body>
</html>
