<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos-cotizacion.css">
    <title>Cotizacion</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
    }
    
    header, nav, section, footer {
    padding: 20px;
    }
    
    #formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: -30px;
    }
    
    form {
    display: flex;
    flex-direction: column;
    }
    
    label {
    margin-bottom: 10px;
    }
    
    input[type="number"], select {
    padding: 8px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    }
    
    button {
    padding: 10px 20px;
    width: 200px;
    background-color: #0C2D57;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    }
    
    button:hover {
    background-color: rgb(5, 30, 57);
    }
    
    #cotizacion {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    
    h2 {
    margin-bottom: 10px;
    }
    
    .btns{
    border-radius: 15px;
    }
    
    .btn-container{
    display: inline;
    margin-top: 20px;
    justify-content: center;
    margin-left: 500px;
    }
    
    p {
    margin-bottom: 5px;
    }
    
    span {
    font-weight: bold;
    }
    
    footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    }
    </style>
</head>
<body> 
<%-include('partials/header.ejs')%>
<%-include('partials/nav.ejs')%>
<section>
    <div id="formulario">
        <form action="/cotizacion" method="post">
            <label for="">Valor de Automovil</label>
            <input type="number" name="valor" id="valor" required value=""><br>
            <label for="">Porcentaje de Pago Inicial</label>
            <input type="number" name="pinicial" id="pinicial" required value="" max="100" min="0"><br>
            <label for="">Plazos</label>
            <select name="plazos" id="plazos">
                <option value="12">12 Meses</option>
                <option value="24">24 Meses</option>
                <option value="36">36 Meses</option>
                <option value="48">48 Meses</option>
                <option value="60">60 Meses</option>
            </select>
            <div class="btn-container">
                <button class="btns" type="submit">Calcular</button>
                <button class="btns" type="reset" id="borrar">Limpiar</button> 
            </div>
        </form>

    </div>
    <% let valorFinal=0, cuotaMensual=0; %>
    <% valorFinal = valor - (pinicial / 100) * valor; %>
    <% cuotaMensual=valorFinal/plazos;%>
    <div id="cotizacion">
            <h2>Resultados de la Cotización</h2>
            <%if (!isNaN(valor) && !isNaN(pinicial) && !isNaN(plazos)) {%>
            <p>Valor Final: <span id="valorFinal"><%=  parseFloat(valorFinal).toFixed(2) %></span></p> 
            <p>Cuota Mensual: <span id="cuotaMensual"><%= parseFloat(cuotaMensual).toFixed(2) %></span></p>
            <%}%>
        </div>
</section>
<%-include('partials/footer.ejs')%>
</body>
<script>
    const reset = document.getElementById('borrar');

    reset.addEventListener('click', function() {
        const formulario = document.getElementById('formulario2');
       
        document.getElementById('valorFinal').innerText = '';
        document.getElementById('cuotaMensual').innerText = '';
        document.getElementById('valor').value = ''; 
        document.getElementById('pinicial').value = ''; 
    });
</script>
</html>
