<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabla de Multiplicar</title>

    <style>
        .contenedor {
            display: flex;
            margin-top: 25px;
            justify-content: center;
            align-items: center;
            gap: 90px;
        }

        .tabla {
            width: 350px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            gap: 20px;
        }

        input {
            padding: 10px;
            margin-bottom: 20px;
        }

        button {
            margin-top: 10px;
            padding: 10px 20px;
            width: 200px;
            background-color: #0C2D57;
            color: #fff;
            border: none;
            border-radius: 10px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            display: inline;
        }

        .btns {
            border-radius: 10px;
        }

        .results {
            width: 10%;
            text-align: center;
        }
    </style>
</head>

<body>
    <%-include('partials/header.ejs')%>
    <%-include('partials/nav.ejs')%>
            <div class="contenedor">
                <form class="tabla" action="/tabla" method="post">
                    <label for="tabla">Elige la tabla</label>
                    <input type="number" id="numero" name="numero" required value='<%=numero%>'>
                    <button class="btns" type="submit">Enviar</button>
                    <button id="clear" class="btns" type="reset">Limpiar</button>
                </form>

                <section class="results">
                    <% let res=0; if(numero!==null){ for(con=1; con <=10; ++con){ res=con* numero; %>
                        <h3>
                            <%=numero%> * <%=con%> = <%=res%>
                        </h3>
                        <% } } %>
                </section>
            </div>
            <%-include('partials/footer.ejs')%>

            <script>
                const limpiar = document.querySelector('#clear');
                limpiar.addEventListener('click', function() {
                    const results = document.querySelector('.results');
                    results.innerHTML = ''; // Limpiar el contenido de los resultados
                });
            </script>
</body>

</html>